@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
}

 .line{
    @apply overflow-hidden bg-neutral-800 
  }

  .word{
    @apply translate-y-full
  }

.blend{
  filter: invert(1);
}



@layer utilities {
  .emailLayout{
    @apply 2xl:max-w-screen-xl lg:max-w-[1024px] md:max-w-[768px] sm:max-w-[640px] max-w-[1024px] mx-auto px-[20px] flex flex-col py-[3rem] md:pt-[2rem]
  }
  .layout{
    @apply 2xl:max-w-screen-xl lg:max-w-[1024px] md:max-w-[768px] sm:max-w-[640px] max-w-[1024px] ml-auto mr-auto pl-[20px] pr-[20px] flex flex-col py-[6rem] md:py-[8rem]
  }
}
